services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth_api
    restart: always
    ports:
      - "8000:8000"
    environment:
      PYTHONUNBUFFERED: 1
      JWT_SECRET: ${JWT_SECRET}
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql:5432/${POSTGRES_DB}
